*{
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  transition: 1s
}

:root{
  --color: #fff;
  --bgcol: #3C4CFF;
}

header{
  background: #3848FF;
  color: #fff;
}

.container{
  position: relative
}

h1{
  margin: 0;
  padding: 7px 2px;
  font-weight: 300;
  font-size: 1.75rem
}
.input{
  padding: 7px;
  margin: auto;
}

.input button{
  display: block;
  margin: auto;
  background: #333;
  color: #fff;
  border: none;
  text-transform: uppercase;
  padding: 7px;
  font-weight: 300
}

input::placeholder{
  text-align: center;
}

input:focus{
  outline: none
}

.modal input{
  width: 100%;
  display: block;
  margin: 0 auto 16px;
  padding: 6px;
  height: 45px;
  font-size: 1rem;
  border: 1.5px solid var(--bgcol);
  border-radius: 6px;
  transition: .5s linear;
  background: transparent;
}

.modal input[type=date]{
	display: flex;
	align-items: center;
	justify-content: center;
}

label{
  display: block;
  text-align: center;
}

#btn{
  display: none;
}

.output{
  width: 100%;
  margin: auto;
  transition: .5s;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  height: 250px;
}

.message{
  text-align: center;
  display: block;
  padding: 6px 0;
}

.error{
  background-color: #FF0C0C;
  color: #fff;
  width: 100%;
}

.success{
  background-color: #008B2B;
  color: #fff;
  width: 100%
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li{
  display: block;
  padding: 7px 4px;
  font-weight: bold;
  font-style: italic
}

li:nth-child(odd){
  background: #777;
  color: #fff
} 

button:focus{
  outline: none;
}

#progress-container{
  width: 90%;
  height: 20px;
  border: 1px solid;
  margin: auto;
  /*border-radius: 12px;*/
  background: green;
  transform: rotateX(180deg)
}

#progress{
  height: 100%;
  background: #ccc;
  width: 0%;
  transition: 1.5s linear;
  /*border-radius: 12px*/
  float: right;
}

.actions{
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin: auto;
  box-shadow: 2px 0 2px 2px #ccc
}

.actions button{
  border: none;
  width: 100%; 
  color: #333;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 2px;
  background: transparent;
}

.actions button:focus{
	background: var(--bgcol);
	color: #fff;
	transition: .25s
}

.modal-bg{
  position: absolute;
  background: #333333aa;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  padding-top: 150px;
  z-index: 1
}

.modal{
  background: #fff;
  width: 75%;
  margin: auto;
  padding: 7px;
  border-radius: 16px;
}

.modal-actions{
  margin-top: 16px;
  display: flex;
  justify-content: space-between
}

.modal button{
  border: none;
  width: 100%;
  font-size: 1rem;
  background: var(--bgcol);
  color: #fff;
  height: 3rem;
  border-radius: 26px
}

#loadcon{
	display: flex;
	justify-content: center;
	display: none;
	width: 20rem;
	margin: auto;
	background: #eee;
	padding: 1rem;
	border-radius: 1rem;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100%;
	bottom: 0;
	top: 0;
	height: 100vh;
}

canvas{
	border: 1px solid;
	margin: auto;
	display: block
}

/*media queries*/

@media screen and (min-width: 600px) {
  .container{
    display: flex;
    flex-direction: row
  }
  
  .info{
    width: 75%;
  }
  
  .output{
    width: 100%;
    margin: auto;
    padding-left: 10px;
  }
  
  .message{
    display: inline;
    text-align: justify
  }
  
  .actions{
    position: static;
    display: flex;
    padding-left: 10%;
    flex-direction: column;
    box-shadow: 0 0 0 0;
    background: transparent;
  }
  
  .actions button{
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .modal-bg{
  	padding-top: 50px;
  	text-decoration: line
  }
}