*{
  box-sizing: border-box;
  line-height: 1.75;
  margin: 0;
  padding: 0;
  transition: 1s
}

:root{
  --color: #fff;
  --bgcol: #3C4CFF;
}

html{
	background: #EEE;
	height: 100%;
	font-family: sans-serif
}

body{
	height: 100%
}

header{
  background: var(--bgcol);
  color: var(--color);
  width: 100%;
}

h1{
  padding: 7px 2px;
  font-weight: 300;
  font-size: 1.75rem
}
.input{
  padding: 7px;
  margin: auto;
}

.input button{
  display: block;
  margin: auto;
  background: #333;
  color: #fff;
  border: none;
  text-transform: uppercase;
  padding: 7px;
  font-weight: 300
}

input::placeholder{
  text-align: center;
}

input:focus{
  outline: none;
  box-shadow: 0 0 0 4px #71DFFF99
}

.modal input{
  width: 100%;
  display: block;
  margin: 0 auto 16px;
  padding: 6px;
  height: 45px;
  font-size: 1rem;
  border: 1.5px solid var(--bgcol);
  border-radius: 6px;
  transition: .5s linear;
  background: transparent;
}

.modal input[type=date]{
	display: flex;
	align-items: center;
	justify-content: center;
}

label{
  display: block;
  text-align: center;
}

#btn{
  display: none;
}

.output{
  width: 100%;
  margin: 1rem auto;
  transition: .5s;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

.message{
  text-align: center;
  display: block;
  padding: 6px 0;
}

.error{
  background-color: #FF0C0C;
  color: #fff;
  width: 100%;
}

.success{
  background-color: #008B2B;
  color: #fff;
  width: 100%
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li{
  display: block;
  padding: 7px 4px;
  font-weight: bold;
  font-style: italic;
}

li:nth-child(odd){
  background: #777;
  color: #fff
} 

button:focus{
  outline: none;
}

table{
	height: 3.5rem
}

th, td{
	width: 25%;
}

th{
	font-size: 2rem;
	padding: 0;
	height: 2rem
}

td{
	padding: 0;
	font-size: 1rem;
	height: 1rem
}

#vals{
	font-weight: lighter;
}
.actions{
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin: auto;
  box-shadow: 2px 0 2px 2px #ccc;
}

.actions button{
  border: none;
  width: 100%; 
  color: #333;
  font-size: 1rem;
  font-weight: 300;
  padding: 2px;
  background: transparent;
  cursor: pointer;
  transition: .25s
}

.actions button:focus{
	background: var(--bgcol);
	color: #fff;
}

.modal-bg{
  position: absolute;
  background: #333333aa;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  padding-top: 150px;
  z-index: 1;
}

.modal{
  background: #fff;
  width: 75%;
  margin: auto;
  padding: 16px;
  border-radius: 16px;
}

.modal-actions{
  margin-top: 16px;
  display: flex;
  justify-content: space-between
}

.modal button{
  border: none;
  width: 100%;
  font-size: 1rem;
  background: var(--bgcol);
  color: #fff;
  height: 3rem;
  border-radius: 26px
}

#loadcon{
	display: flex;
	justify-content: center;
	display: none;
	width: 20rem;
	margin: auto;
	background: #eee;
	padding: 1rem;
	border-radius: 1rem;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100%;
	bottom: 0;
	top: 0;
	height: 100vh;
}

/*media queries*/

@media screen and (min-width: 600px) {
  .container{
    display: flex;
    justify-content: center
  }
  
  .info{
  	width: 50rem;
  }
  
  .output{
    margin: auto;
  }
  
  .message{
    display: none
  }
  
  .actions{
  	position: static;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0 0;
    background: transparent;
    justify-items: center;
    align-items: center;
    width: 20rem;
    padding: 0
  }
  
  .actions button{
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .modal-bg{
  	padding-top: 50px;
  	position: fixed
  }
  
  .modal{
  	width: 65%;
  }
  
  ul li{
  	text-align: center;
  }
}